version: 2.1

jobs:
  build_and_test:
    docker:
      - image: rocker/verse:latest
    environment:
      R_LIBS: /home/rstudio/R/Library # Standardizing path for rocker
      R_LIBS_USER: /home/rstudio/R/Library
    steps:
      - checkout
      - restore_cache:
          keys:
            # Checksum ensures cache resets only when dependencies change
            - r-pkg-cache-{{ arch }}-{{ checksum "DESCRIPTION" }}
            - r-pkg-cache-{{ arch }}-
      - run:
          name: Install dependencies via pak (Binaries)
          command: |
            mkdir -p ${R_LIBS_USER}
            # Use Posit Binaries to avoid compilation time
            Rscript -e 'options(repos = c(CRAN = "https://packagemanager.posit.co/cran/__linux__/bookworm/latest"))'
            Rscript -e 'if (!requireNamespace("pak", quietly = TRUE)) install.packages("pak")'
            # Install your internal packages and local deps in parallel
            Rscript -e 'pak::pkg_install(c("PolicyAnalysisInc/openqalytools", "PolicyAnalysisInc/openqalysurv", "rcmdcheck", "sessioninfo"))'
            Rscript -e 'pak::local_install_deps(dependencies = TRUE)'
      - save_cache:
          key: r-pkg-cache-{{ arch }}-{{ checksum "DESCRIPTION" }}
          paths:
            - "/home/rstudio/R/Library"
      - run:
          name: Build and Check package
          command: |
            R CMD build .
            R CMD check --as-cran --no-manual *tar.gz
      - store_artifacts:
          path: openqaly.Rcheck/

  build_and_coverage:
    docker:
      - image: rocker/verse:latest
    environment:
      R_LIBS: /home/rstudio/R/Library
      R_LIBS_USER: /home/rstudio/R/Library
    steps:
      - checkout
      - restore_cache:
          keys:
            - r-pkg-cache-{{ arch }}-{{ checksum "DESCRIPTION" }}
            - r-pkg-cache-{{ arch }}-
      - run:
          name: Install dependencies
          command: |
            mkdir -p ${R_LIBS_USER}
            Rscript -e 'options(repos = c(CRAN = "https://packagemanager.posit.co/cran/__linux__/bookworm/latest"))'
            Rscript -e 'if (!requireNamespace("pak", quietly = TRUE)) install.packages("pak")'
            Rscript -e 'pak::pkg_install(c("PolicyAnalysisInc/openqalytools", "PolicyAnalysisInc/openqalysurv", "covr"))'
            Rscript -e 'pak::local_install_deps(dependencies = TRUE)'
      - run:
          name: Code Coverage
          command: Rscript -e 'library(covr); codecov()'

workflows:
  version: 2
  build:
    jobs:
      - build_and_test
      - build_and_coverage